{%  extends 'head.html'  %}


{% block content %}
<a href="signin/" style="float:right;text-decoration:none;background-color:rgb(45, 252, 93);padding:2px;margin:1px;">login</a> &nbsp;&nbsp;&nbsp;
<a href="signup/" style="float:right;text-decoration:none;background-color:rgb(45, 252, 93);padding:2px;margin:1px;">register</a>
<br>
<br>
<div style="text-align:center ;margin:2px;">
<b>want to find answers to your technical questions?...<br>
    <br>
find your answers and help others by answering theirs...<br>
<br>
</b>
YOU CAME TO THE CORRECT PLACE.SIGNUP NOW.
STUDY SPACE is a public platform where you can share your knowledge with peers or gain knowledge by following spaces you like.
</div>


{% endblock content %}